# Build files
WageWise
WageWise.exe
*.o
*.obj
*.exe
*.out

# VSCode
.vscode/

# CLion / JetBrains
.idea/
cmake-build-debug/
cmake-build-release/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Temp files
*.tmp
*.log

# Docs
~$*.docx   # temp Word lock files
